@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

body {
    font-family: 'Poppins', sans-serif;;
    text-align: center;
    margin: 50px;
}
table {
    width: max-content;
    margin: auto;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    border: 1px solid #c3c3c3;
    text-align: center;
}

button {
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background-color: #b4b5b4;
}

input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}