/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;;
    text-align: center;
    margin: 50px;
}
table {
    width: max-content;
    margin: auto;
    border-collapse: collapse;
    display: none;
}

button {
    cursor: pointer;
    margin-right: 5px;

}

button:hover {
    background-color: #b4b5b4;
}

input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}