@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.navbar {
    background-color: #00ADB5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar h3 {
    margin: 0;
    color: black;
    letter-spacing: 2px;
}

.navbar a {
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 12px;
}

.navbar-btn {
    display: none;
}

.dark-mode {
    background-color: black;
    color: #fff;
}

.dark-mode-toggler {
    cursor: pointer;
    font-size: 18px;
}

.dark-mode-toggler1
    {
        display: none;
    }

@media only screen and (max-width: 767px) {

    .navbar {
        padding: 20px 30px;
    }
    .navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #00ADB5;
        text-align: center;
    }

    .navbar h3 {
        margin: 0;
        color: black;
        letter-spacing: 0px;
    }

    .navbar ul.show {
        display: flex;
        z-index: 999;
    }

    .navbar li {
        display: block;
        margin: 10px 0;
    }

    .navbar a:hover {
        background-color: #ddd;
        color: black;
        border-radius: 12px;
    }

    .navbar-btn {
        display: block;
        cursor: pointer;
        color: white;
        font-size: 18px;
    }

    .dark-mode-toggler1
    {
        display: block;
        cursor: pointer;
        font-size: 18px;
        color: white;
    }

    .dark-mode-toggler
    {
        display: none;
    }
}