<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awesome Books</title>
    <link rel="shortcut icon" href="../Book.png" type="image/x-icon">
    <link rel="stylesheet" href="../Style/nav.css">
    <link rel="stylesheet" href="../Style//Contact.css">
</head>

<body>

    <nav class="navbar">
        <h3>Awesome Books</h3>
        <div class="navbar-btn">&#9776;</div>
        <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="./Book.html">Add</a></li>
            <li><a href="./BookList.html">Book List</a></li>
            <li><a href="Contact.html">Contact</a></li>
        </ul>
        <div class="dark-mode-toggler" onclick="toggleDarkMode()">🌙</div>
    </nav>

    <header>
        <h1>Contact Us</h1>
        <p>Have questions or suggestions? Reach out to us!</p>
    </header>

    <div class="container">
        <main>
            <form id="contactForm">
                <label for="name">Your Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Your Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="message">Your Message:</label>
                <textarea id="message" name="message" rows="4" required></textarea>

                <button type="submit">Send Message</button>
            </form>

            <div id="responseContainer"></div>
        </main>
    </div>

    <!-- <footer>
        <p>&copy; 2023 Awesome Books. All rights reserved.</p>
    </footer> -->

    <script src="../Script/Contact.js"></script>
    <script src="../Script/nav.js"></script>

</body>

</html>